.right-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}

.right-container .right-item {
    color: white;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px hsl(0, 7%, 60%);
}