.page-container {
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.9);
}

.page-header {
    height: 30vh;
    width: 100%;
}

.page-body {
    height: 70vh;
    width: 100%;
    display: flex;
}

.page-body-left {
    width: 30%;
}

.page-body-right {
    flex: 1;
}

